<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--
  BÀI 1: parallel="methods" thread-count="3"
  → 3 cửa sổ Chrome mở cùng lúc → kiểm chứng ThreadLocal an toàn
-->
<suite name="Bai1-BasePage-BaseTest" verbose="2" parallel="methods" thread-count="3">
    <parameter name="browser" value="chrome"/>
    <parameter name="env"     value="dev"/>
    <test name="Bai1 Verification">
        <classes><class name="tests.Bai1_BaseTest_Verify"/></classes>
    </test>
</suite>
