<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bai7-Refactored" verbose="2">
    <listeners>
        <listener class-name="framework.utils.RetryListener"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <parameter name="env"     value="dev"/>
    <test name="Refactored Tests (POM + DDT)">
        <classes><class name="tests.Bai7_RefactoredTest"/></classes>
    </test>
    <!-- NaiveTest chạy riêng để so sánh -->
    <test name="Naive Tests (Antipattern - để so sánh)">
        <classes><class name="tests.legacy.NaiveTest"/></classes>
    </test>
</suite>
